API_HOST: localhost:3000
LOCAL: "true"

# USED FOR DOCKER
# TURN OF WHEN you're not using docker
# PGHOST: -
# PGUSER: -
# PGPASSWORD: -

DB_NAME_DEV: -
DB_NAME_TEST: -
DB_NAME_PRO: -

# ALLOWED HOSTS
ALLOWED_HOSTS: http://localhost:3001,http://localhost:3000

# SIDEKIQ AUTH
SIDEKIQ_USER: -
SIDEKIQ_PASSWORD: "-"

# PERF REDIS CENTRAL
REDIS_CENTRAL_HOST: localhost
REDIS_CENTRAL_PORT: "6379"

# TOKEN EXPIRATION TIME
EXPIRATION_TIME: "25200"

# GOOGLE CLOUD STORAGE
GCS_PROJECT_ID: -
GCS_BUCKET_NAME: -
GCS_CLIENT_ID: "-"
GCS_CLIENT_EMAIL: -
GCS_PRIVATE_KEY_ID: -
GCS_PRIVATE_KEY: "-"
